.AlbumGrid{
    padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    border-bottom: 2px solid var(--orange);
    padding-bottom: 1em;
    background-color: var(--light-grey);
}

@media (min-width: 550px){
    .AlbumGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    .AlbumGrid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {
   .AlbumGrid{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1500px) {
    .AlbumGrid{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1800px) {
    .AlbumGrid{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 2100px) {
    .AlbumGrid{
        grid-template-columns: repeat(7, 1fr);
    }
}